form {
  text-align: center;

font-size: 30pt;
}

h1 {
  text-align: center;
  font-size: 40pt;



}

h2 {

  text-align: center;


}

body {

background: #B3FFAB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #B3FFAB , #12FFF7); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #B3FFAB , #12FFF7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Comfortaa', cursive;
text-shadow: 2px 2px rgb(255, 255, 255);
}

#button {
height:76px;
width:300px;
font-size: 20pt;


}
